//Fonts 
$font-family-text: 'Montserrat', sans-serif;
$font-family-header: 'Bitter', sans-serif;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

//Gridlover.net scale factor 1.525
html,
.root {
  font-size: 16px;
  line-height: 1.525;
}

body,
article {
  font-family: $font-family-text;
  line-height: 1.525;
  font-weight: $font-weight-regular;
  font-size: 1rem;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  font-family: $font-family-header;
  font-weight: $font-weight-bold;
  font-style: normal;
  text-transform: uppercase;
}

p,
ul,
ol,
dl,
td,
th,
textarea,
caption,
pre,
table,
blockquote {
  font-size: 16px;
  line-height: 1.525;
  margin: 1.5rem 0;
}

h1,
.h1 {
  font-size: 4.25rem;
  line-height: 4.5rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

h2,
.h2 {
  font-size: 2.625rem;
  line-height: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
}

h3,
.h3 {
  font-size: 1.625rem;
  line-height: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
}

h4,
.h4 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
}

h5,
.h5 {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
}

/* Let's make sure all's aligned */
hr,
.hr {
  border: 1px solid;
  margin: -1px 0;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
  font-size: 0.6em;
}

sub {
  bottom: -0.25em;
}

h1:first-child,
.h1:first-child,
h2:first-child,
.h2:first-child,
h3:first-child,
.h3:first-child,
h4:first-child,
.h4:first-child,
h5:first-child,
.h5:first-child,
h6:first-child,
.h6:first-child {
  margin-top: 0;
}

p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
blockquote:last-child,
pre:last-child,
table:last-child {
  margin-bottom: 0;
}

li p,
li ul {
  margin-top: 0;
  margin-bottom: 0;
}
