// Variables
//Row Spacing Margins
$spacing: (extra-small: 0.5rem, small: 1rem, medium: 2rem, large: 4rem, extra-large: 6rem);

@each $name, $value in $spacing {
  .margin-top-#{$name} {
    margin-top: $value !important;
  }

  .margin-bottom-#{$name} {
    margin-bottom: $value !important;
  }
}

@each $name, $value in $spacing {
  .padding-top-#{$name} {
    padding-top: $value !important;
  }

  .padding-bottom-#{$name} {
    padding-bottom: $value !important;
  }

  .padding-#{$name} {
    padding: $value !important;
  }
}

// Colors
$black: #212121;
$gray: #3f3f3f;
$gray-medium: #819097;
$gray-light: #e2e5e7;
$gray-lighter: #dadada;
$blue-dark: #10487a;
$blue-medium: #457fa0;
$blue: #0aa5e8;
$blue-light: #b8e3f4;
$off-white: #f2f4f4;
$salmon: #e0bfbd;
$red: #ff1950;

//Font Sizes
$small-font: 18px;
$normal-font: 20px;
$large-font: 24px;

/* sage/assets/styles/common/_variables.scss */
// Slick Carousel font path
$slick-font-path: "~slick-carousel/slick/fonts/";

// Slick Carousel ajax-loader.gif path
$slick-loader-path: "~slick-carousel/slick/";
