// Buttons
button.button,
a.button,
.button,
input.button {
  padding: 0.8rem 1rem;
  font-family: $font-family-header;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  margin: 1rem 0 0;
  line-height: 18px;
  text-decoration: none;

  &.button-outline {
    background-color: transparent;
    border: 2px solid $white;
    border-radius: 8px;
  }
}

button.navigation-button {
  color: $black;
  background-color: transparent;

  &:hover,
  &:focus {
    background-color: transparent;
    color: $black;
  }

  .button-text {
    font-family: $font-family-header;
    font-weight: 800;
    font-size: 18px;
  }
}

button .menu-icon::after {
  background: $black !important;
  -webkit-box-shadow: 0 6px 0 $black, 0 12px 0 $black !important;
  box-shadow: 0 6px 0 $black, 0 12px 0 $black !important;

  &:hover {
    background: $black !important;
    -webkit-box-shadow: 0 6px 0 $black, 0 12px 0 $black !important;
    box-shadow: 0 6px 0 $black, 0 12px 0 $black !important;
  }
}

button .menu-icon {
  &:hover,
  &:focus {
    outline: none;

    &::after {
      background: $black;
      -webkit-box-shadow: 0 6px 0 $black, 0 12px 0 $black !important;
      box-shadow: 0 6px 0 $black, 0 12px 0 $black !important;
    }
  }
}

.dropdown.menu .menu-button {
  margin-top: 1rem;
  margin-left: 1rem;

  a {
    line-height: initial;
    padding: 1rem 1.6rem;
    background-color: $blue;
    color: $white;

    &:hover {
      background-color: $blue-dark;
    }
  }
}

header.container.is-stuck .dropdown.menu .menu-button {
  margin-top: 4px;

  a {
    line-height: initial;
    padding: 0.5rem 1rem;
  }
}

.button[type='submit'] {
  font-size: 18px;
  line-height: 18px;
  border-radius: 0;
}
